[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
logzero = "*"
dacite = "*"
wandb = "*"
codetiming = "*"
sparseqr = {git = "https://github.com/yig/PySPQR.git"}

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
