[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
logzero = "*"
dacite = "*"
wandb = "*"
codetiming = "*"
sparseqr = {git = "https://github.com/yig/PySPQR.git"}
scipy = "*"

[dev-packages]
black = "*"
line-profiler = "*"
gprof2dot = "*"
darker = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
