[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wandb = "*"
logzero = "*"
seaborn = {git = "https://github.com/mwaskom/seaborn"}

[dev-packages]

[requires]
python_version = "3.8"
